.modal-dialog.wide {
  width: 80%;
}

#game-modal-content {
  display: flex;
  flex-direction: column;
  height: 700px;
}

#game-modal-content > #game-container {
  flex-grow: 3;
  display: flex;
  background-color: #f00;
}

#game-modal-content > #game-container > #game-screen {
  flex-grow: 8;
  background-color: #ff0;
}

#game-modal-content > #game-container > #game-controls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f0f;
}

#game-controls > div {
  background-color: #000;
  flex-grow:1;
  border-width: 1px;
  border-color: white;
  margin-bottom:1px;
}

#game-modal-content > #notes-container {
  flex-grow: 1;
  background-color: #0ff;
}
